<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Disque</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"
          type="text/css"/>
    <link rel="stylesheet" href="{{ app['disque_admin.mount_prefix'] }}/style.css"/>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
            integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/a05b01c4bc.js"></script>

    <link rel="icon" type="image/png" href="{{ app['disque_admin.mount_prefix'] }}/favicon.png"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ app['disque_admin.mount_prefix'] }}/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" href="{{ app['disque_admin.mount_prefix'] }}/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="{{ app['disque_admin.mount_prefix'] }}/favicon-16x16.png" sizes="16x16"/>
    <link rel="manifest" href="{{ app['disque_admin.mount_prefix'] }}/manifest.json"/>
    <link rel="mask-icon" href="{{ app['disque_admin.mount_prefix'] }}/safari-pinned-tab.svg" color="#5bbad5"/>
    <meta name="theme-color" content="#ffffff"/>
</head>
<body>

{{ render(controller('disque_admin.controller.overview:navComponent', {
    route: global.request.attributes.get('_route'),
    prefix: global.request.attributes.get('prefix'),
    random: global.request.attributes.get('random', false)
})) }}

<div class="container-fluid">
    {% block content %}{% endblock %}
</div>

</body>
</html>
