<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{{ path('disque_admin_overview_index', {prefix: prefix}) }}">
        <img src="{{ app['disque_admin.mount_prefix'] }}/logo.svg" width="30" height="30" alt=""
             class="d-inline-block align-top">
        Disque Admin
    </a>

    <div class="collapse navbar-collapse" id="navbarMain">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {{ route matches '/^disque_admin_overview/' ? 'active' : '' }}">
                <a class="nav-link" href="{{ path('disque_admin_overview_index', {'prefix': prefix}) }}">Overview</a>
            </li>
            <li class="nav-item {{ route matches '/^disque_admin_node/' ? 'active' : '' }}">
                <a class="nav-link" href="{{ path('disque_admin_node_index', {'prefix': prefix}) }}">Nodes</a>
            </li>
            <li class="nav-item {{ route matches '/^disque_admin_queue/' ? 'active' : '' }}">
                <a class="nav-link" href="{{ path('disque_admin_queue_index', {'prefix': prefix}) }}">Queues</a>
            </li>
            <li class="nav-item {{ route matches '/^disque_admin_job/' ? 'active' : '' }}">
                <a class="nav-link" href="{{ path('disque_admin_job_index', {'prefix': prefix}) }}">Jobs</a>
            </li>
        </ul>

        {{ render(controller('disque_admin.controller.overview:prefixComponent', {prefix: prefix})) }}
    </div>
</nav>
